/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #64e8ff;
}


body {
    font-family: 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    /* font-family: Arial, sans-serif; */
    line-height: 1.6;
    /* background-color: #0a192f; */
    background-color: #121214;
    color: #ced3cf;
    height: 100%;
    width: 100%;
}


/* links */
a {
    color: #fff;
    text-orientation: none;
    text-decoration: none;
}

a:hover {
    color: var(--green);
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    height: 10vh;
    /* background-color: #8ba541; */
}



header nav ol {
    display: flex;
    list-style-type: decimal-leading-zero;
    gap: 60px;
}

ol li {
    color: var(--green)
}



.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    min-height: 90vh;
    flex: 1;
}


h3#logo {
    color: var(--green);
}


h3#logo span {
    font-weight: 600;
    letter-spacing: 1.5pt;
    color: #fff;
}

/* Social links*/
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
    margin-left: 20px;

}


aside ul li {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    /* margin: 5px; */
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: 200ms;
}

aside ul li:hover {
    background-color: #2c2c31;
}

aside ul li svg {
    height: 1.5rem;

}
/*Rodapé*/
footer {
    text-align: center;
    /* margin-top: 30px; */
    padding: 10px;
}

/*Conteúdo principal*/
.content {
    flex: 1;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    height: 100%;
}

/*Responsividade*/
@media (max-width:768px) {

    header {
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
    }

    header nav ol {
        display: flex;
        gap: 40px;
        list-style: none;
    }

    #logo {
        display: none;
    }

    .container {
        flex-direction: column;

        /* justify-content: space-between; */
        /* height: 100vh; */
    }

    aside {
        margin: 50px 0 0 0;
        padding: 20px;
    }

    aside ul {
        margin: 20px 0;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    aside ul li {
        font-size: 12px;
        gap: 5px;
        padding: 5px;
        background-color: #2c2c31;
    }

    aside ul li svg {
        height: 1rem;   }
}